# PostgreSQL Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5432/sessions_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# Kafka Configuration
KAFKA_URL=your-kafka-broker:9092
KAFKA_TOPIC=web-events
KAFKA_GROUP=flink-sessionization-group
KAFKA_WEB_TRAFFIC_KEY=your-kafka-api-key
KAFKA_WEB_TRAFFIC_SECRET=your-kafka-api-secret